* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grey;
}
/* #menu{

} */



colors:hover {
    background: rgba(255, 255, 255, 0.9);
}